* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;

  /* Begin flexbox container properties */
  display: flex;
  justify-content: center;
  /* Other justify values you can put on a container:
        center
        flex-start
        flex-end
        space-around
        space-between
   */

}

.menu {
  /* border: 1px solid #fff;  /* For debugging */
  width: 900px;

  /* Make container a flex container */
  display:flex;
  justify-content: space-between;

}

.signup {
    margin-left: auto; /* eats all space left of .signup */
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;

  /* vertical alignment */
  align-items: center;
  /* vertical alignment values:
        center
        flex-start   (top)
        flex-end      (bottom)
        stretch
        baseline

   */
}

/* Vertical alignment debugging purposes */
/* .social, 
.logo,
.subscribe {
  border: 1px solid #5995DA;
}
 */

 /* Begin Wrapping */
 .photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.first-item {
    order: 1;
}

.last-item {
    order: -1;
}

.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}